<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  

  <title>Tech News</title>
  <style>
    body {
      background-color: rgb(245, 245, 245)
    }
    nav{
      height: 85px;
    }
    .nav-styles{
      padding-top: 7.5px;
    }

    .brand-logo{
      margin-right: 35px;
    }
  </style>
</head>

<body>
  <nav>
    <div class="nav-wrapper cyan lighten-3">
      <div class="nav-styles">
      <a href="#!" class="brand-logo black-text right hide-on-med-and-down">Technology News</a>
      <ul class="left">
          <li><a id="saved" class="waves-effect waves-light indigo darken-1 btn center-align">Saved Articles<i class="material-icons right">add_circle</i></a></li>
          <li><a id="refresh" class="waves-effect waves-light indigo darken-1 btn">Get News<i class="material-icons right">refresh</i></a></li>
      </ul>
    </div>
  </div>
  </nav>
  <div id="wrapper">
     {{{body}}}
    {{!-- <div id="articles"></div>
    <div id="notes"></div> --}}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="app.js"></script>
 
</body>
</html>